<h1>Edit Homework</h1>

<form action="/homework/{{homework._id}}?_method=PUT" method="POST" >
    <label for="readingMinutes">Reading (minutes): </label>{{homework.readingMinutes}}
    <input type="number" name="readingMinutes" placeholder="{{homework.readingMinutes}}" /><br>
    <label for="mathAssigned">Math Homework Assigned (If yes, check box): </label>{{ homework.mathAssigned }}
    <input type="checkbox" name="mathAssigned" placeholder="{{homework.mathAssigned}}" /><br>
    <label for="mathCompleted">Math Homework Completed (If yes, check box): </label>{{ homework.mathCompleted }}
    <input type="checkbox" name="mathCompleted" placeholder="{{homework.mathCompleted}}" /><br>
    <input type="submit" value="Update Homework" />
</form><br><br>


<form action="/homework/{{homework._id}}?_method=DELETE" method="POST" >
<input type="submit" value="Delete Homework" />
</form>


        
        