<h1>Edit Homework</h1>
{{!-- if homework is not null then update homework (PUT), otherwise create homework (POST) --}}
<form action="/homework/{{#if homework}}{{homework._id}}?_method=PUT{{/if}}" method="POST" >
    <input type="hidden" name="user" value="{{userId}}"/>
    <label for="readingMinutes">Reading (minutes): </label>{{homework.readingMinutes}}
    <input type="number" name="readingMinutes" value="{{homework.readingMinutes}}" /><br>
    <label for="mathAssigned">Math Homework Assigned (If yes, check box): </label>{{ homework.mathAssigned }}
    <input type="checkbox" name="mathAssigned" value="true" {{#if homework.mathAssigned}}checked{{/if}} /><br>
    <label for="mathCompleted">Math Homework Completed (If yes, check box): </label>{{ homework.mathCompleted }}
    <input type="checkbox" name="mathCompleted" value="true" {{#if homework.mathCompleted}}checked{{/if}} /><br>
    <input type="submit" value="Update Homework" />
</form><br><br>


<form action="/homework/{{homework._id}}?_method=DELETE" method="POST" >
<input type="submit" value="Delete Homework" />
</form>

