<div class="container">
<h1>Edit Activities</h1>
{{!-- if activities is not null then update homework (PUT), otherwise create activities (POST) --}}
<form action="/activities/{{#if activities}}{{activities._id}}?_method=PUT{{/if}}" method="POST" >
{{!-- Create / update form needs send the userId along with the form  --}}
<input type="hidden" name="user" value="{{userId}}"/>
    <label for="sunday">Sunday: </label>{{activities.sunday}}
    <input type="text" name="sunday" value="{{activities.sunday}}" /><br>
    <label for="monday">Monday: </label>{{activities.monday}}
    <input type="text" name="monday" value="{{activities.monday}}" /><br>
    <label for="tuesday">Tuesday: </label>{{activities.tuesday}}
    <input type="text" name="tuesday" value="{{activities.tuesday}}" /><br>
    <label for="wednesday">Wednesday: </label>{{activities.wednesday}}
    <input type="text" name="wednesday" value="{{activities.wednesday}}" /><br>
    <label for="thursday">Thursday: </label>{{activities.thursday}}
    <input type="text" name="thursday" value="{{activities.thursday}}" /><br>
    <label for="friday">Friday: </label>{{activities.friday}}
    <input type="text" name="friday" value="{{activities.friday}}" /><br>
    <label for="saturday">Saturday: </label>{{activities.saturday}}
    <input type="text" name="saturday" value="{{activities.saturday}}" /><br>
    <input type="submit" value="Update Activities" />
</form><br><br>


<form action="/activities/{{activities._id}}?_method=DELETE" method="POST" >
<input type="submit" value="Delete Activities" />
</form>
</div>