<div id="users">
<h1 id="users1">Users</h1>

<ul class="users">
    {{#each users}}
    <li class="users">

        {{!-- <a href="/users/{{_id}}"> --}}
        <label for="id">ID: </label> {{_id}} 
        <label for="name">NAME: </label> {{ name }} 
        <label for="age">AGE: </label> {{ age }}
        <label for="grade">GRADE: </label> {{ grade}}
        <a href="/users/{{_id}}"> 
        <input type="submit" value="Edit" />
        </a> 
        {{!-- </a> --}}
        
     </li><br>
    {{/each}}
</ul> 

<form method="POST" action="/users">
    <label for="name">NAME:</label>
    <input type="text" name="name" value="" />
    <label for="age">AGE:</label>
    <input type="text" name="age" value="" />
    <label for="grade">GRADE:</label>
    <input type="text" name="grade" value="" />
    <input type="submit" value="Create New User" />
</form><br>
</div>

