<div>
<div id="agenda">User's Agenda</div>
<ul class="agenda1">
    <li class="agenda1">
        <label for="name">NAME: </label>{{ user.name }}<br>
        <label for="age">AGE: </label>{{ user.age }}<br>
        <label for="grade">GRADE: </label>{{ user.grade}}<br>
        <form method="GET" action="/users/{{user._id}}">
            <input type="submit" value="Edit" />
        </form>
    </li>
</ul>

<div class="agenda">Homework Status</div>
<ul class="agenda2">
    <li class="agenda2">
        <label for="readingMinutes">Reading (minutes): </label>{{homework.readingMinutes}}<br>
        <label for="mathAssigned">Math Assigned (Yes/No): </label>{{ homework.mathAssigned }}<br>
        <label for="mathCompleted">Math Completed (Yes/No): </label>{{ homework.mathCompleted }}<br>
        <form method="GET" action="/homework/{{user._id}}">
            <input type="submit" value="Edit" />
        </form>
    </li>
</ul>

<div class="agenda">Weekly Activities / Hobbies</div>
<ul class="agenda3">
    <li class="agenda3">
        <label class="agenda3" for="sunday">Sunday: </label>{{activities.sunday}}
        <label for="monday">Monday: </label>{{ activities.monday }}
        <label for="tuesday">Tuesday: </label>{{ activities.tuesday }}
        <label for="wednesday">Wednesday: </label>{{activities.wednesday}}
        <label for="thursday">Thursday: </label>{{ activities.thursday }}
        <label for="friday">Friday: </label>{{ activities.friday }}
        <label for="saturday">Saturday: </label>{{ activities.saturday }}
        <form method="GET" action="/activities/{{user._id}}">
            <input type="submit" value="Edit" />
        </form>
    </li>
</ul>
</div>