<h1>Users</h1>
<ul>
    {{#each users}}
    <li>
        {{!-- <a href="/users/{{_id}}"> --}}
        <label for="id">ID: </label> {{_id}} <br>
        <label for="name">NAME: </label> {{ name }} <br>
        <label for="age">AGE: </label> {{ age }} <br>
        <label for="grade">GRADE: </label> {{ grade}} <br>
        </a>
    </li><br>
    {{/each}}
</ul>

<form method="POST" action="/users">
    <label for="name">NAME:</label>
    <input type="text" name="name" value="" />
    <label for="age">AGE:</label>
    <input type="text" name="age" value="" />
    <label for="grade">GRADE:</label>
    <input type="text" name="grade" value="" />
    <input type="submit" value="Create New User" />
</form>